<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  Start with an empty web site.

Add a web form. Add the ADO Entites. Use the Sql Server Login BasicShowTimeLogin with the password="P@ssw0rd1". Make sure to include the tables Artist, Show, and ShowDetails. You should also include Venue.

Add a drop down list that shows all the artists in the database. You will also need the artistkey assigned to the list as a DataValue. You will need it to link the show to the artist.

When the user select an artist the page should show all the shows and show details for that artist.
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
